.darkened{
  background-color: #343a40;
}

.container{
  margin-top: 3rem;
}

.auto-form {
  margin-bottom: 1rem;
}
input[type=text]:focus {
  background-color: lightblue;
}

.tablehead{
  background-color:#95999c;
}
