  <form name="form">
    <div>
      Voornaam: <input class="form-control" ng-model="info.voornaam" type="text"/>
      Achternaam: <input class="form-control" ng-model="info.achternaam" type="text"/>
      Straat: <input class="form-control" ng-model="info.straat" type="text"/>
      Huisnummer: <input class="form-control" ng-model="info.huisnummer" type="number"/>
      Postcode: <input class="form-control" ng-model="info.postcode" type="text"/>
      Woonplaats: <input class="form-control" ng-model="info.woonplaats" type="text"/>
      Telefoonnummer: <input class="form-control" ng-model="info.telefoonnummer" type="tel"/>
      <button class="btn btn-primary mb-2" ng-click="submit(info)">Verzenden</button>
    </div>
  </form>
