<div ng-init="showData()">
  <table class="col-12">
    <tr>
      <th ng-click="orderByMe('ID')"> ID </th>
      <th ng-click="orderByMe('Voornaam')"> Voornaam </th>
      <th ng-click="orderByMe('Achternaam')"> Achternaam </th>
      <th ng-click="orderByMe('Straat')"> Straat </th>
      <th ng-click="orderByMe('Huisnr')"> Huisnr </th>
      <th ng-click="orderByMe('Postcode')"> Postcode </th>
      <th ng-click="orderByMe('Woonplaats')"> Woonplaats </th>
      <th ng-click="orderByMe('Telefoonnummer')"> Telefoon </th>
    </tr>
    <tr title="{{x.TijdToegevoegd}}" ng-repeat="x in bedrijf | orderBy:myOrderBy">
      <td scope="col">{{ x.ID }} </td>
      <td scope="col">{{ x.Voornaam }}</td>
      <td scope="col">{{ x.Achternaam }}</td>
      <td scope="col">{{ x.Straat }}</td>
      <td scope="col">{{ x.Huisnummer }}</td>
      <td scope="col">{{ x.Postcode }}</td>
      <td scope="col">{{ x.Woonplaats }}</td>
      <td scope="col">{{ x.Telefoonnummer }}</td>
      <td scope="col"><a class="btn btn-primary" ng-href="#!edit/{{x.ID}}/{{x.Voornaam}}/{{x.Achternaam}}/{{x.Straat}}/{{x.Huisnummer}}/{{x.Postcode}}/{{x.Woonplaats}}/{{x.Telefoonnummer}}"> Edit </a></td>
      <td scope="col"><a class="btn btn-danger" href="#" ng-click="delete(x.ID)"> Delete </a></td>
     </tr>
  </table>
</div>
