  <table class="col-12">
    <tr>
      <th> ID </th>
      <th> Voornaam </th>
      <th> Achternaam </th>
      <th> Straat </th>
      <th> Huisnr </th>
      <th> Postcode </th>
      <th> Woonplaats </th>
      <th> Telefoon </th>
    </tr>
    <tr ng-repeat="x in bedrijf">
      <td scope="col">{{ x.ID }} </td>
      <td scope="col">{{ x.Voornaam }}</td>
      <td scope="col">{{ x.Achternaam }}</td>
      <td scope="col">{{ x.Straat }}</td>
      <td scope="col">{{ x.Huisnummer }}</td>
      <td scope="col">{{ x.Postcode }}</td>
      <td scope="col">{{ x.Woonplaats }}</td>
      <td scope="col">{{ x.Telefoonnummer }}</td>
      <td scope="col"><a class="btn btn-primary" href="#!/edit"> Edit </a></td>
      <td scope="col"><a class="btn btn-danger" href="#" ng-click="delete(x.ID)"> Delete </a></td>
     </tr>
  </table>
